@import '../styles/colors'

.container
    width: 100%
    min-height: 100vh
    background: url(../../public/portfolioBackground.png) repeat center center
    padding: 87px 0 40px
    display: flex
    flex-direction: column
    justify-content: center

//medias

@media screen and (max-width: 1550px)
    .container
        padding-top: 77px

@media screen and (max-width: 1320px)
    .container
        padding-top: 75px

@media screen and (max-width: 700px)
    .container
        padding-top: 80px