@import '../styles/colors'

.servicesItemContainer
    padding-top: 175px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.mainContentContainer
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 0 140px

// .adviceFormContainer
//     margin: 0 0 60px

.moreDetailsContainer
    margin: 40px 0 60px
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.footerContainer
    width: 100%

@media screen and (max-width: 1550px)
    .servicesItemContainer
        padding-top: 152px

@media screen and (max-width: 1320px)
    .servicesItemContainer
        padding-top: 145px

    .mainContentContainer
        padding: 0 30px

@media screen and (max-width: 900px)
    .servicesItemContainer
        padding-top: 140px

@media screen and (max-width: 700px)
    .servicesItemContainer
        padding-top: 90px

@media screen and (max-width: 450px)
    .mainContentContainer
        padding: 0 20px