@import '../styles/colors'

.servicesContainer
    padding-top: 175px

.mainContentContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 140px 80px
    h2
        font-weight: 700
        font-size: 45px
        line-height: 55px
        text-transform: uppercase
        text-align: center
        color: $grey
        margin: 20px 0 40px
    p
        font-weight: 400
        font-size: 28px
        line-height: 32px
        text-align: center
        color: #000000

.moreDetailsBlocksContainer
    width: 100%
    margin-bottom: 40px
    display: flex
    align-items: center
    justify-content: center