@import './colors'

.smartHouseContainer
    padding-top: 175px
    width: 100%
    min-height: 100vh

.moreDetailsContainer
    padding: 0 140px
    width: 100%
    margin-bottom: 60px

//medias

@media screen and (max-width: 1550px)
    .smartHouseContainer
        padding-top: 152px

@media screen and (max-width: 1320px)
    .smartHouseContainer
        padding-top: 145px

    .moreDetailsContainer
        padding: 0 30px

@media screen and (max-width: 900px)
    .smartHouseContainer
        padding-top: 140px

@media screen and (max-width: 780px)
    .moreDetailsContainer
        margin-bottom: 30px

@media screen and (max-width: 700px)
    .smartHouseContainer
        padding-top: 90px



    