@import '../../../styles/colors'
    
.default
    background-color: transparent
    color: $red
    font-size: 22px
    line-height: 24px
    padding: 15px 50px
    border: 1px solid $red
    transition: .3s
    cursor: pointer
    &:hover
        color: $white
        background-color: $red
        border: 1px solid $red

.white
    color: $white
    border: 1px solid $white


