@import '../../../styles/colors'
    
.default
    width: 100%
    background-color: $red
    color: $white
    font-size: 22px
    line-height: 24px
    padding: 15px 50px
    border: 1px solid $red
    transition: .3s
    cursor: pointer
    &:hover
        color: $dark-gray
        background-color: $white
        border: 1px solid $white

.white
    background-color: transparent
    color: $white
    border: 1px solid $white
    &:hover
        background-color: $red
        border: 1px solid $red
        color: $white

.red
    &:hover
        background-color: transparent
        border: 1px solid $red
        color: $red

.disabled
    color: $dark-gray
    background-color: $light-gray
    border-color: $dark-gray
    cursor: default
    &:hover
        color: $dark-gray
        background-color: $light-gray
        border-color: $dark-gray

@media screen and (max-width: 600px)
    .default
        font-size: 16px