@import '../../styles/colors'

.navContainer
    width: 100%
    padding: 10px 140px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgba(0, 0, 0, 0.5)
    position: fixed
    z-index: 9999
    left: 0
    top: 0
    transition: .3s

.centerContainer
    display: flex
    align-items: center
    justify-content: center
    nav
        ul
            display: flex
            li
                list-style: none
                margin: 0 35px
                font-weight: 300
                font-size: 24px
                line-height: 35px
                color: #FFFFFF
                transition: .3s
                width: max-content
                &:hover
                    color: $red

.activeLink
    color: $red

.subNavigationContainer
    display: none

.searchContainer
    display: flex
    align-items: center
    justify-content: center
    border-radius: 34px
    padding: 15px 20px
    input
        display: none
        color: $white
        background: transparent
        font-size: 24px
        line-height: 33px
        border: 0
        outline: 0
        animation-name: rideLeft
        animation-duration: 300ms
    svg
        path
            transition: .3s
        &:hover
            cursor: pointer
            path
                stroke: $red    

.phoneContainer
    display: flex
    align-items: center
    justify-content: center
    a
        transition: .3s
        font-weight: 400
        font-size: 26px
        line-height: 35px
        color: #FFFFFF
        &:hover
            color: $red

.burgerMenu
    display: none
    height: 36px
    align-items: center
    justify-content: center
    position: absolute
    top: 20px
    right: 20px
    svg
        width: 36px
        height: 36px
        transition: .3s
        path
            stroke: $white
    &:hover
        svg
            path
                stroke: $red

.close
    display: block
    height: 36px
    align-items: center
    justify-content: center
    position: absolute
    top: 20px
    right: 20px
    svg
        width: 36px
        height: 36px
        transition: .3s
        path
            stroke: $white
    &:hover
        animation-name: rotate
        animation-duration: 500ms
        svg
            path
                stroke: $red

.openedMenuContainer
    height: 100%
    min-height: 100vh
    overflow-y: scroll
    width: 100%
    padding: 76px 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    background-color: $black
    position: fixed
    z-index: 9999
    left: 0
    top: 0
    .logoContainer
        a
            svg
                width: 84px
                height: 46px
    .centerContainer
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        width: 100%
        nav
            margin: 20px 0
            ul
                display: flex
                flex-direction: column
                li
                    margin: 20px 0
                    width: max-content
                    a
                        font-size: 30px
    .searchContainer
        background: rgba(41, 41, 41, 0.74)
        border: 1px solid #646464
        width: 100%
        padding: 15px 25px
        input
            display: flex
            width: 100%
            margin-right: 10px
            font-size: 26px
        svg
            height: 28px
            width: 28px
    .phoneContainer
        display: flex
        margin-top: 60px
        a
            font-size: 30px

//keyframes

@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(180deg)

@keyframes rideLeft
    0%
        width: 0
    100%
        width: 500px

//medias

@media screen and (max-width: 1550px)
    .logoContainer
        a
            svg
                width: 74px
                height: 36px

    .centerContainer
        nav
            ul
                padding-left: 0
                li
                    margin: 0 25px
                    font-size: 22px
                    line-height: 25px

    .searchContainer
        input
            font-size: 22px
            line-height: 23px

    .phoneContainer
        a
            font-size: 24px
            line-height: 25px


@media screen and (max-width: 1320px)
    .navContainer
        padding: 10px 80px
    
    .centerContainer
        nav
            ul
                li
                    margin: 0 20px
                    font-size: 20px
                    line-height: 23px

    .searchContainer
        svg
            width: 20px
            height: 20px

    .searchContainer
        input
            font-size: 20px
            line-height: 21px

    .phoneContainer
        a
            font-size: 22px
            line-height: 23px

@media screen and (max-width: 1050px)
    .navContainer
        padding: 10px 30px

    .centerContainer
        nav
            ul
                li
                    margin: 0 15px

    .searchContainer
        padding: 15px 15px

@media screen and (max-width: 900px)
    .phoneContainer
        display: none

//mob ver

@media screen and (max-width: 700px)
    //closed sideBar
    .navContainer
        padding: 20px 20px
        justify-content: flex-start

    .centerContainer
        display: none

    .searchContainer
        margin-top: 20px
        input
            animation-name: none
        svg
            display: none
    
    .burgerMenu
        display: block

    .subNavigationContainer
        display: flex
        flex-direction: column
        margin-left: 25px
        max-width: 250px
        align-items: flex-start
        ul
            li
                display: flex
                &:last-child
                    margin-bottom: 0

    .subLink
        font-weight: 300
        font-size: 18px
        line-height: 20px
        color: $white
        &:hover
            color: $red

    .activeSubLink
        line-height: 20px
        color: $red
 
@media screen and (max-width: 550px)
    .openedMenuContainer
        .centerContainer
            nav
                margin-top: 10px
                ul
                    li
                        margin: 10px 0
                        a
                            font-size: 22px
        .searchContainer
            padding: 10px 15px
            input
                font-size: 20px
        .phoneContainer
            margin-top: 30px
            a
                font-size: 24px